html {
  background: url(http://thewebmadeeasy.com/AtomsNetwork/Files/332/backgroundrepeat_rendered01.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
